<nav class="blue">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo light-green-text text-accent-3 center"> <img src="../../../assets/homesick-logo.png" width="55" height="55"> HomeSick</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/"><i class="large material-icons black-text">import_contacts</i></a></li>
        <li><a routerLink="/Movies"><i class="large material-icons black-text">movie_filter</i></a></li>
        <li><a routerLink="/Artists"><i class="large material-icons black-text">music_note</i></a></li>
        <li><a href=""><i class="large material-icons black-text">face</i></a></li>
      </ul>
    </div>
  </nav>
